
// Text Variables
$mainfont: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$navcolor: #083656;
$subtitleblue: #1669AD;
$bluetext: #0A3451;
$maingrey: #545F66;
$linkgrey: #A8B7C2;
$tinyfont: 13px;
$textsize: 16px;

@mixin blue-headline() {
  font-family: 'Oswald', sans-serif;
  color: #0A3451;
}

// Position Variables
$fullwidth: 100%;


//*** General Styles ***//


.container {
  font-family: $mainfont;
}


//*** Header ***//


.titlecontainer {
  width: 100%;
  height: 523px;
  background-image: url("images/header.jpg");
}

nav {
  height: 190px;
}

.leftnav {
  color: $navcolor;
  position: relative;
  left: 123px;
  top: 8px;
}

.leftnav span{
  position: absolute;
  top: 10px;
  left: 55px;
}

.rightnav {
  float: right;
  margin-top: -30px;
  position: relative;
  right: 160px;
  @include blue-headline();
  font-size: 18px;
}

.rightnav {
  span {
    margin-left: 10px;
  }
  img {
    position: relative;
    top: 1px;
   }
}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: white;
  font-size: 100px;
  font-weight: 500;


}

h2 {
  position: relative;
  bottom: 15px;
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
  color: $navcolor;
  font-size: 16px;
  font-weight: 400;
}


//*** Main Body ***//


.mainbody {
  margin: 20px 13%;
  padding-bottom: 70px;
  display: inline-block;
}

.bodyleft {
  float: left;
  margin-right: 5.5%;
  width: 65.5%;
}

.bodyright {
  float: left;
  width: 26.5%;
  margin-left: 2.5%;
}

.lefttitle {
  margin-top: 43px;
  margin-bottom: 10px;
  font-size: 63px;
  letter-spacing: -.5px;
  line-height: 69px;
  @include blue-headline();
}

.tinypic {
  width: 22px;
  padding-right: 3px;
}

.authortext {
  color: $subtitleblue;
  font-size: 13px;
}

.on {
  color: $linkgrey;
  font-size: 13px;
  padding-left: 10px;

}

.date {
  color: $linkgrey;
  font-size: 13px;
  letter-spacing: .25px;
  padding-left: 1px;
}

.sig {
  padding: 0px 5px 0px 5px;
  margin-bottom: 32px;
}

.sigtext {
  bottom: 5px;
  display: inline-block;
  position: relative;
  bottom: 4px;
}

.maintext {
  color: $maingrey;
  line-height: 26px;
  font-size: 15.8px;
  letter-spacing: -.3px;
}

.p1 {
  margin-bottom: 25px;
}

.p2 {
  margin-bottom: 20px;
}

.radical {
  color: $subtitleblue;
  font-size: 26px;
  letter-spacing: 0px;
  border-left: 2px solid #CBCBCB;
  padding-left: 18px;
  margin: 60px 0 0px 6px;
  padding-top: 15px;
  padding-bottom: 10px;
  line-height: 60px;
}

.p3 {
  margin-top: 25px;
}

b {
  position: relative;
}

.rollover {
  display: inline;
  visibility: hidden;
  position: absolute;
  left:10px;
}

.roll:hover .rollover{
  visibility: visible;
  padding: 1px;
  border: black solid 1px;
}

.p4 {
  padding-top: 10px;
  padding-bottom: 1px;
}

.btn {
  text-decoration: none;
}

.btnleft {
  padding: 7px;
  margin-left: 4px;
  float: left;
  display: block;
  background: #5E686F;
}

.btnright {
  padding: 6px 14px 6px 15px;
  margin-right: 5px;
  background: #A4B3BE;
  font-size: 13.5px;
  color: #F8F9FA;
  float: left;
  display: block;
}

.btn:hover .btnright {
  background: #106DB3;
}

.sidebartop {
  text-align: center;
  margin-top: 50px;
}

.greylink {
  color: $linkgrey;
}

.sideauthor {
  color: $subtitleblue;
  margin-top: 10px;
  margin-bottom: 0px;
}

.social {
  color: $linkgrey;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 50px;
}

.soc {
  margin-right: 10px;
}

.soc3 {
  margin-right: 0px;
}

.ad {
  position: relative;
}

.about {
  position: absolute;
  bottom: -15px;
  right: -27px;
}

.sidetitle{
  margin-top: 65px;
  margin-bottom: 0px;
  font-size: 19px;
  letter-spacing: 0px;
  color: $subtitleblue;
}

.sidetext {
  margin-top: 5px;
  line-height: 24px;
  color: $linkgrey;
  font-size: 14px;
  width: 112.5%;
}

.divider {
  width: 100%;
  border-bottom: 1px solid $linkgrey;
}


//*** Post Links and Footer ***//


footer {
  display: inline-block;
}

.artlink {
  width: 25%;
  height: auto;
  display: inline-block;
  float: left;
  position: relative;
}

.foottitle {
  font-size: 63px;
  margin: 40px 0;
  text-align: center;
  @include blue-headline();
}

.artlink:after {
  background: #083452;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .4;
  content: "";
}

.artlink:hover:after {
  opacity: 0;
}

figure {
  width: 100%;
  height: auto;
  margin: 0;
  float: left;
  position: relative;
}

figcaption {
  display: inline;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 30px;
  @include blue-headline();

}

.artlink:hover figcaption {
  color: #fff;
}

.footnav {
  display: inline-block;
  width: 78%;
  padding: 25px 11%;
  color: $linkgrey;
  background: #083452;
  margin-top: -5px;
  font-size: 13px;
}

.vtext {
  padding-left: 15px;
}

.footnavr {
  padding: 13px 0;
  float: right;
}

.nav {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid $linkgrey;
}

.nav5 {
  border: none;
}

.vert {
  vertical-align: middle;
}
