/** {
	border: 1px solid red;
}*/

.container {
	background: white;
}

.titlecontainer {
	width: 100%;
	height: 523px;
	background-image: url("images/header.jpg");
}

nav {
	height: 190px;
}

.leftnav {
	font-family:'Open Sans', sans-serif;
	color: #083656;
	position: relative;
	left: 123px;
	top: 8px;
}

.leftnav span{
	position: absolute;
	top: 10px;
	left: 55px;
}
.rightnav {
	float: right;
	margin-top: -30px;
	font-family:'Oswald', sans-serif;
	font-size: 18px;/*
	font-weight: bold;*/
	color: #083656;
	position: relative;
	right: 160px;
}

.rightnav span {
	margin-left: 10px;
}

.rightnav img {
	position: relative;
	top: 1px;
}

h1 {
	text-align: center;
	color: white;
	font-family:'Open Sans', sans-serif;
	font-size: 100px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;

}

h2 {
	margin-top: 0px;
	padding-top: 0px;
	text-align: center;
	font-size: 16px;
	font-family:'Open Sans', sans-serif;
	font-weight: 400;
	color: #083656;
	position: relative;
	bottom: 15px;
}

.mainbody {
	width: 1005px;
	margin: 20px auto;
}

.bodyleft {
	float: left;
	width: 620px;
	margin-right: 20px;
	padding-left: 20px;
}

.bodyright {
	float: left;
	width: 295px;
	margin-left: 45px;
	padding-left: 5px;
}

.lefttitle {
	margin-top: 45px;
	margin-bottom: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 62px;
	color: #0A3451;
	width: 625px;
	letter-spacing: 0px;
	line-height: 68px;
}

.tinypic {
	width: 22px;
}

.authortext {
	color: #0D68AF;
	font-size: 13px;
}

.on {
	color: #A8B7C2;
	font-size: 13px;

}

.date {
	color: #A8B7C2;
	font-size: 13px;
}

.sig {
	padding-top: 0px;
	padding-bottom: 20px;
}

.sidebartop {
	text-align: center;
	margin-top: 65px
}

.maintext {
	color: #545F66;
	line-height: 26px;
}

.radical {
	color: #0D68AF;
	font-size: 26px;
	border-left: 2px solid #CBCBCB;
	padding-left: 10px;
	margin-top: 40px;
	padding-top: 10px;
	margin-bottom: 40px;
	padding-bottom: 5px;
	line-height: 60px;
}

.sideauthor {
	color: #0D68AF;
	margin-top: 10px;
	margin-bottom: 0px;
}

.social {
	color: #A8B7C2;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 50px;
}

.soc {
	margin-right: 10px;
}

.about {
	padding-right: 10px;
	float: right;
}

.sidetitle{
	color: #0D68AF;
	font-family: 'Oswald', sans-serif;
	padding-left: 10px;
	margin-top: 65px;
	margin-bottom: 0px;
}

.sidetext {
	margin-top: 0px;
	line-height: 20px;
	padding-left: 10px;
	color: #A8B7C2;
	font-size: 14px;
}


