.container {
	font-family:'Open Sans', sans-serif;
	z-index: 1;
}

.titlecontainer {
	width: 100%;
	height: 523px;
	background-image: url("images/header.jpg");
}

nav {
	height: 190px;
}

.leftnav {
	color: #083656;
	position: relative;
	left: 123px;
	top: 8px;
}

.leftnav span{
	position: absolute;
	top: 10px;
	left: 55px;
}
.rightnav {
	float: right;
	margin-top: -30px;
	font-family:'Oswald', sans-serif;
	font-size: 18px;
	color: #083656;
	position: relative;
	right: 160px;
}

.rightnav span {
	margin-left: 10px;
}

.rightnav img {
	position: relative;
	top: 1px;
}

h1 {
	text-align: center;
	color: white;
	font-size: 100px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;

}

h2 {
	margin-top: 0px;
	padding-top: 0px;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: #083656;
	position: relative;
	bottom: 15px;
}

.mainbody {
	margin: 20px 13%;
	padding-bottom: 70px;
	display: inline-block;
}

.bodyleft {
	float: left;
	margin-right: 5.5%;
	width: 65.5%;
}

.bodyright {
	float: left;
	width: 26.5%;
	margin-left: 2.5%;
}

.lefttitle {
	margin-top: 43px;
	margin-bottom: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 63px;
	color: #0A3451;
	letter-spacing: -.5px;
	line-height: 69px;
}

.tinypic {
	width: 22px;
	padding-right: 3px;
}

.authortext {
	color: #0D68AF;
	font-size: 13px;
}

.on {
	color: #A8B7C2;
	font-size: 13px;
	padding-left: 10px;

}

.date {
	color: #A8B7C2;
	font-size: 13px;
	letter-spacing: .25px;
	padding-left: 1px;
}

.sig {
	padding: 0px 5px 0px 5px;
	margin-bottom: 32px;
}

.sigtext {
	bottom: 5px;
	display: inline-block;
	position: relative;
	bottom: 4px;
}

.maintext {
	color: #545F66;
	line-height: 26px;
	font-size: 15.8px;
	letter-spacing: -.3px;
}

.p1 {
	margin-bottom: 25px;
}

.p2 {
	margin-bottom: 20px;
}

.radical {
	color: #0D68AF;
	font-size: 26px;
	letter-spacing: 0px;
	border-left: 2px solid #CBCBCB;
	padding-left: 18px;
	margin: 60px 0 0px 6px;
	padding-top: 15px;
	padding-bottom: 10px;
	line-height: 60px;
}

.p3 {
	margin-top: 25px;
}

b {
	position: relative;
}

.rollover {
	display: inline;
	visibility: hidden;
	position: absolute;
	left:10px;
}

.roll:hover .rollover{
	visibility: visible;
	padding: 1px;
	border: black solid 1px;
}

.p4 {
	padding-top: 10px;
	padding-bottom: 1px;
}

.btn {
	text-decoration: none;
}

.btnleft {
	padding: 7px;
	margin-left: 4px;
	float: left;
	display: block;
	background: #5E686F;
}

.btnright {
	padding: 6px 14px 6px 15px;
	margin-right: 5px;
	background: #A4B3BE;
	font-size: 13.5px;
	color: #F8F9FA;
	float: left;
	display: block;
}

.btn:hover .btnright {
	background: #106DB3;
}

.sidebartop {
	text-align: center;
	margin-top: 50px;
}

.greylink {
	color: #A8B7C2;
}

.sideauthor {
	color: #0D68AF;
	margin-top: 10px;
	margin-bottom: 0px;
}

.social {
	color: #A8B7C2;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 50px;
}

.soc {
	margin-right: 10px;
}

.soc3 {
	margin-right: 0px;
}

.ad {
	position: relative;
}

.about {
	position: absolute;
	bottom: -15px;
	right: -27px;
}

.sidetitle{
	color: #0D68AF;
	font-family: 'Oswald', sans-serif;
	margin-top: 65px;
	margin-bottom: 0px;
	font-size: 19px;
	letter-spacing: 0px;
}

.sidetext {
	margin-top: 5px;
	line-height: 24px;
	color: #A8B7C2;
	font-size: 14px;
	width: 112.5%;
}

.divider {
	width: 100%;
	border-bottom: 1px solid #A8B7C2;
}

footer {
	display: inline-block;
}

.artlink {
	width: 25%;
	height: auto;
	display: inline-block;
	float: left;
	position: relative;
}

.foottitle {
	font-family: 'Oswald', sans-serif;
	font-size: 63px;
	color: #0A3451;
	margin: 40px 0;
	text-align: center;
}

.artlink:after {
  background: #083452;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .4;
  content: "";
}

.artlink:hover:after {
  opacity: 0;
}

figure {
	width: 25%;
	height: auto;
	margin: 0;
	float: left;
	position: relative;
}

figcaption {
	font-family: 'Oswald', sans-serif;
	color: #0A3451;
	font-size: 30px;
	display: inline;
	position: absolute;
	bottom: 0;

}

.artlink:hover figcaption {
	color: #fff;
}

.footnav {
	height: 100px;
	width: 100%;
	background-color: #083452;
	float: left;
	display: block;
	margin-top: -5px;
}

.footext {
	color: #A8B7C2;
	font-size: 13px;
}

.navitem {
	float: right;
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid #A8B7C2;
}

.footnav {
	padding: 30px auto;
}

.fnavleft {
	position: absolute;
	padding: 33px 0;
}

.flogo {
	padding-left: 11%;
}

.nav5 {
	border: none;
	padding-right: 11%;
}
